extends layout

block content
  if notice
    p Updated row #{notice}.
  if sqlTable
    Sql size = #{sqlTable.length}
    table
      each entry in sqlTable
        tr
          each item in entry
            td= JSON.stringify(item)
  if inserted
    p #{inserted}
  if deleted
    p= JSON.stringify(deleted)
    - var numRows = JSON.stringify(deleted.affectedRows)  
    p Deleted #{numRows} rows.
  else
    p nothing
