extends layout
block content
  script(type='text/javascript').
    var deleteIcon = !{JSON.stringify(deleteIcon)};
    var editIcon = !{JSON.stringify(editIcon)};
    var saveIcon = !{JSON.stringify(saveIcon)};
  script(src="/javascripts/tableLogic.js")
  if notice
    p Updated row #{notice}.
  form#inputForm(class="pure-form pure-form-stacked")
    table
      div.input
        tr
          td Name
          td
            input(type="text", name="name")
        tr
          td Repetitions
          td
            input(type="number", name="reps")
        tr
          td Weight
          td
            input(type="number", name="weight")
        tr
          td Date
          td
            input(type="date", name="date")
        tr
          td Units in Lbs.
          td
            input(type="checkbox", name="lbs" checked)
      div.actions
        tr
          td(colspan=2, align="center")
            input(type="submit", id="btn-submit", value="Add Workout")
        
  br
  br
  table#sqlTable(class="pure-table pure-table-bordered")
    thead
      tr
        th.
          Name
        th.
          Reps
        th.
          Weight
        th.
          Date
        th.
          lbs
      tbody
        if sqlTable
          each entry in sqlTable
            tr(id='workout-#{entry.id}')
              td.name(contenteditable="false")= entry.name
              td.reps(contenteditable="false")= entry.reps
              td.weight(contenteditable="false")= entry.weight
              td.date(contenteditable="false")= entry.date
              td.lbs(contenteditable="false")= entry.lbs
              td(id='wo-tools-#{entry.id}').tableTools
                i(id="edit-#{entry.id}", class="#{editIcon}")
                i(id="delete-#{entry.id}", class="#{deleteIcon}")
